# Xcode
build/
DerivedData/
*.xcresult
*.mode1v3
*.mode2v3
*.perspectivev3
*.xcuserstate
xcuserdata/
*.xcuserdatad

# XcodeGen
*.xcodeproj
*.xcworkspace

# macOS
.DS_Store

# Scripts
gerar_appicon.py
